.App {
    text-align: center;
    background-color: #fff;
    width: 80%;;
    margin: 1em auto;
    padding: 1em;
    border-radius: .5em;
    box-shadow: .2em .2em .2em rgba(0, 0, 0, 0.168);
}

@media screen and (min-width: 733px) {
    .App {
        width: 600px;
    }
}